@use 'variaveis';

.hero {
    background-image: url(../images/hero.jpeg);
    padding: 5.6vw;
    min-height: 100vh;
    text-align: center;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;

    @media (max-width: 768px) {
        background-image: url(../images/hero_celular.jpg);
        padding-top: calc(50vw + 25px);
        background-size: contain;
        background-repeat: no-repeat;
    }

    &__content {
        
        max-width: 640px;

        &__branding {
            max-width: 320px;
            margin: 0 auto 38px;

            img {
                width: 100%;
            }

            @media (max-width: 768px) {
                max-width: 180px;
            }
        }
    }
}